@charset "UTF-8";
@import "../_partials/globalVariables";

.Footer {
	align-items: center;
	background-color: $mercury;
	justify-content: space-between;
	display: flex;
	height: 110px;
	padding: 0 15px;
	width: 100%;
	
	img {
		display: inline-block;
		height: 57px;
		width: 39px;
	}
	
	p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
	}
	
	.Container {
		align-items: center;
		display: flex;
		justify-content: space-around;
		max-width: 100%;
		width: 100%;
	}
}