@charset "UTF-8";
@import "../_partials/commonFunctions";
@import "../_partials/globalVariables";

.Tooltip {
	display: inline-block;
	position: absolute;
	right: auto;
	top: 8px;
	left: 0;
	
	@include media-query(sm) {
		right: -33px;
		top: -32px;
		left: auto;
	}
	
	.Tooltip-Text {
		background-color: $tundora;
		border-radius: 6px;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		opacity: 0;
		position: absolute;
		padding: 10px 15px;
		transition: opacity 1s;
		text-decoration: none;
		text-align: left;
		visibility: hidden;
		z-index: 1;
		width: 180px;
		
		&.Right {
			top: -5px;
			left: 125%;
		}
	}
}

.Tooltip:hover .Tooltip-Text {
	visibility: visible;
	opacity: 1;
}

