@charset "UTF-8";

.Form-ValidateField {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 0;
	right: auto;
	top: 46px;
	text-align: center;
	width: 100%;
	
	&.OnError {
		p {
			border-top: 1px solid crimson;
			color: crimson;
			letter-spacing: -0.3px;
		}
	}
}

.Form-InputText-Result {
	@extend .Form-ValidateField;
	font-size: 14px;
	font-weight: bold;
	width: 75px;
	left: 0;
	right: auto;
	top: 50px;
	
	@include media-query(sm){
		left: auto;
		right: -120px;
		top: 15px;
	}
	
	&.Available {
		a {
			color: $green;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	&.Unavailable {
		p {
			color: crimson;
		}
	}
}